---
  import NameCircle from '$components/NameCircle.svelte';
  import StreakBg from '$components/StreakBg.svelte';

  const { firstName = "Lorem", lastName = "Ipsium", year="2022" } = Astro.props;
  const varTop = "var(--top-color)";
  const varBottom = "var(--bottom-color)";
---

<div id="root" class="root">
  <StreakBg topColor={varTop} bottomColor={varBottom} class="streak-container">
    <NameCircle class="graphic--animation" lightColor={varTop} fillColor={varBottom} client:load/>
  </StreakBg>
</div>

<script>
  import { animateColors } from '$components/utils/colors.js';

  const animation = animateColors({el: document.querySelector('#root'), offset: -1 });
  if (typeof window !== "undefined") window.ANIM = animation;
</script>

<style>

  .root {
    animation: fade-in 5s ease-out normal both;
  }

  .root :global(.streak-container) {
    width: 100%;
    aspect-ratio: 9/16;
    overflow: hidden;
    margin: auto;
    animation: fade-in .5s ease-out normal both;
  }

  .root :global(.graphic--animation) {
    animation: fade-grow-in 25s 1 both normal ease-out;
    animation-delay: 2s;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    filter: drop-shadow(0 2px 5px rgba(navy, .15));
  }

  @keyframes fade-grow-in {
    0% { transform: scale(.85); opacity:0; }
    10% {transform: scale(.96); opacity: 1; }
    100% { opacity: 1; }
  }
</style>
