.bubble-container {
  border-color: #7c7c7c;
  mix-blend-mode: overlay;
  box-shadow: inset 35px -50px 60px hsla(0deg 0% 75% / 30%);
}
.bubble-panel {
  display: block;
  width: 100%;
  aspect-ratio: 9/16;
  overflow: hidden;
  margin: auto;
  filter: brightness(95%) contrast(110%);
  background-image: linear-gradient(var(--gradient-angle), var(--top-color) 10%, var(--bottom-color) 95%);
}
.bubble-data {
  font-family: "Proxima Nova Extra Condensed", "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #0f0f0f;
  text-align: center;
}
.firstname {
  font-family: "Proxima Nova", "proxima-nova", sans-serif;
  font-weight: 900;
  letter-spacing: .5em;
  transform-origin: 50% 15%;
}
.lastname {
  letter-spacing: 0.02em !important;
  transform-origin: 50% 10%;
  transform: scale(1.2);
}
