.bubble-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

/* _content/DonorWall.Display/Shared/Bubble.razor.rz.scp.css */
.bubble-container {
  position: fixed;
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 50%;

  /* -------------------------------------------------*/
  /* for centering within the physical overlay        */
  /* remove after bubble coordinates are determined   */
  /* -------------------------------------------------*/
  border: 5px solid black;
  /* ------------------------------------------------ */
}

.bubble-data {
  width: 100%;
  padding: 0 10px 0 10px;
}

.firstname {
  font-size: 15pt;
  line-height: 21pt;
}

.lastname {
  margin: 25px 0 25px 0;
  line-height: 46pt;
  letter-spacing: -0.02em;
}

.year {
  font-size: 25pt;
  line-height: 30pt;
  letter-spacing: 0.2em;
}

.fadein {
  animation: fadein-b-x7lxoh0rz1 1s forwards ease-in;
}

.fadeout {
  animation: fadeout-b-x7lxoh0rz1 1s forwards;
}

.transparent {
  color: transparent;
}

@keyframes fadein-b-x7lxoh0rz1 {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeout-b-x7lxoh0rz1 {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}
/* _content/DonorWall.Display/Shared/MainLayout.razor.rz.scp.css */
.page[b-b5asbswnas] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-b5asbswnas] {
  flex: 1;
}

.sidebar[b-b5asbswnas] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-b5asbswnas] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-b5asbswnas]  a, .top-row .btn-link[b-b5asbswnas] {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.top-row a:first-child[b-b5asbswnas] {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row:not(.auth)[b-b5asbswnas] {
      display: none;
  }

  .top-row.auth[b-b5asbswnas] {
      justify-content: space-between;
  }

  .top-row a[b-b5asbswnas], .top-row .btn-link[b-b5asbswnas] {
      margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-b5asbswnas] {
      flex-direction: row;
  }

  .sidebar[b-b5asbswnas] {
      width: 250px;
      height: 100vh;
      position: sticky;
      top: 0;
  }

  .top-row[b-b5asbswnas] {
      position: sticky;
      top: 0;
      z-index: 1;
  }

  .top-row[b-b5asbswnas], article[b-b5asbswnas] {
      padding-left: 2rem !important;
      padding-right: 1.5rem !important;
  }
}
