---
import '$styles/bubble.css';
import Layout from '$layouts/global.astro';
import { colorSet } from '$components/utils/colors';

const topColor = colorSet[0];
const bottomColor = colorSet.at(-3);

---
<Layout title={"bubbles left"}>
  <article id="root" class="p-0" style={"--top-color:"+{topColor}+";--bottom-color:"+{bottomColor}+";"}>
    <div class="bubble-panel" style="--gradient-angle: 150deg;">
      <div class="bubble-container" style="color: black; top: 230px; left: 167px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Linda</div>
      <div class="lastname" style="font-size: 61px;">Heinzen</div>
      <div class="year" b-dkwpqw18xn="">2015</div></div></div><div class="bubble-container" style="color: black; top: 62px; left: 836px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Lacey</div>
      <div class="lastname" style="font-size: 61px;">Hein</div>
      <div class="year" b-dkwpqw18xn="">2016</div></div></div><div class="bubble-container" style="color: black; top: 62px; left: 1505px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Thomas</div>
      <div class="lastname" style="font-size: 56.896027px;">Heiskanen</div>
      <div class="year" b-dkwpqw18xn="">1999</div></div></div><div class="bubble-container" style="color: black; top: 902px; left: 502px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Kari</div>
      <div class="lastname" style="font-size: 61px;">Held</div>
      <div class="year" b-dkwpqw18xn="">2019</div></div></div><div class="bubble-container" style="color: black; top: 566px; left: 1171px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Richard</div>
      <div class="lastname" style="font-size: 61px;">Helgesen</div>
      <div class="year" b-dkwpqw18xn="">1975</div></div></div><div class="bubble-container" style="color: black; top: 902px; left: 1673px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Drew</div>
      <div class="lastname" style="font-size: 61px;">Helser</div>
      <div class="year" b-dkwpqw18xn="">2021</div></div></div><div class="bubble-container" style="color: black; top: 1406px; left: 167px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Cynthia</div>
      <div class="lastname" style="font-size: 61px;">Hemauer</div>
      <div class="year" b-dkwpqw18xn="">2002</div></div></div><div class="bubble-container" style="color: black; top: 1238px; left: 1171px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Justin</div>
      <div class="lastname" style="font-size: 61px;">Hemker</div>
      <div class="year" b-dkwpqw18xn="">2008</div></div></div><div class="bubble-container" style="color: black; top: 1574px; left: 1673px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Lori</div>
      <div class="lastname" style="font-size: 41.436527px;">Hemmersbach</div>
      <div class="year" b-dkwpqw18xn="">2013</div></div></div><div class="bubble-container" style="color: black; top: 1910px; left: 335px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Fred</div>
      <div class="lastname" style="font-size: 61px;">Hendler</div>
      <div class="year" b-dkwpqw18xn="">1999</div></div></div><div class="bubble-container" style="color: black; top: 1910px; left: 1171px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Robert</div>
      <div class="lastname" style="font-size: 56.208458px;">Hendricks</div>
      <div class="year" b-dkwpqw18xn="">1983</div></div></div><div class="bubble-container" style="color: black; top: 2582px; left: 167px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Heather</div>
      <div class="lastname" style="font-size: 44.403343px;">Hendrickson</div>
      <div class="year" b-dkwpqw18xn="">2020</div></div></div><div class="bubble-container" style="color: black; top: 2414px; left: 836px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Erin</div>
      <div class="lastname" style="font-size: 61px;">Henke</div>
      <div class="year" b-dkwpqw18xn="">1995</div></div></div><div class="bubble-container" style="color: black; top: 2414px; left: 1505px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Phillip</div>
      <div class="lastname" style="font-size: 55.87087px;">Henneman</div>
      <div class="year" b-dkwpqw18xn="">1983</div></div></div><div class="bubble-container" style="color: black; top: 3254px; left: 167px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Lisa</div>
      <div class="lastname" style="font-size: 61px;">Henry</div>
      <div class="year" b-dkwpqw18xn="">2000</div></div></div><div class="bubble-container" style="color: black; top: 3086px; left: 1004px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Will</div>
      <div class="lastname" style="font-size: 61px;">Hensen</div>
      <div class="year" b-dkwpqw18xn="">1980</div></div></div><div class="bubble-container" style="color: black; top: 3422px; left: 1673px; width:335px; height:335px" b-dkwpqw18xn=""><div class="bubble-data fadein" b-dkwpqw18xn=""><div class="firstname" style="letter-spacing: 0.5em;" b-dkwpqw18xn="">Donna</div>
      <div class="lastname" style="font-size: 61px;">Hensler</div>
      <div class="year" b-dkwpqw18xn="">2013</div></div></div>
    </div>
  </article>

  <script type="module">
    import setColors from '/src/components/utils/setColors.js';

    setColors(document.querySelector('#root'), 1400000);
  </script>
</Layout>

<style lang="scss">
  @import '/src/styles/_bubbles.scss';
</style>
