---
import Layout from '../layouts/global.astro';
---

<Layout title={"Donor Wall"}>
  <div>
    <h1> Views </h1>
    <ul>
      <li><a href={import.meta.env.BASE_URL + "name?firstName=Chris&lastName=Hanlee&year=2022"}>Name view</a></li>
      <li><a href={import.meta.env.BASE_URL + "article?firstName=Chris&lastName=Hanlee&year=2022&title=Story Title&story=<p>Story goes here</p>"}>Blank Article view</a></li>
      <li><a href={import.meta.env.BASE_URL + "article/0"}>Article view</a></li>
      <li><a href={import.meta.env.BASE_URL + "bubble-left"}>Bubble view (left)</a></li>
      <li><a href={import.meta.env.BASE_URL + "bubble-right"}>Bubble view (Right)</a></li>
    </ul>
  </div>
  <style lang="scss">
    body {
      color: rgba(white, .9) !important;
      text-align: center !important;
    }
    div {
      a, a:visited {
        color: #2fc5ff !important;
      }
      h1 {
        font-size: 2em;
        display: block;
        width: 100%;
        margin-top: 6vh;
      }
      ul {
        width: 100%;
        padding: 5vh;
        text-align: center;
      }
      li {
        margin: 1em 0;
      }
    }
  </style>
</Layout>
