---
import Layout from '../layouts/global.astro';
---

<Layout title={"Donor Wall"}>
  <style lang="scss">
    body {
      color: rgba(white, .9);
    }
    a, a:visited {
      color: #2fc5ff !important;
    }
  </style>
  <ul>
    <li>
      <a href={import.meta.env.BASE_URL + "name"}>Name view</a>
    </li>
  </ul>
</Layout>
