---
import '$styles/global.scss';
import Fonts from './fonts.astro';

const { title, classes } = Astro.props;

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <Fonts/>
		<style>
			main {
				/* max-width: 1080px; */
				margin: 0 auto;
				display: flex;
				width: 100%;
				place-items: center;
				place-content: center;
			}
		</style>
	</head>
	<body>
		<main class:list={classes && classes}>
      <slot/>
    </main>
  </body>
</html>
